<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Count Page</h1>
    <h2 id="ct"></h2>

    <script>
        // var ws = new WebSocket('ws://127.0.0.1:8000/ws/jwc/');
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/ajwc/');

        ws.onopen = function () {
            console.log('WebSocket Connection Open...');
            ws.send(
                JSON.stringify({
                    'msg': 'Message from Client'
                })
            );
        }
        ws.onmessage = function (event) {
            // console.log('Message Received from Server...', event);
            console.log('Message Received from Server...', event.data);
            var data = JSON.parse(event.data);
            console.log('Data...', data);
            document.getElementById("ct").innerText = data.message;
        }
    </script>
</body>

</html>