<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Count Page</h1>
    <h2 id="ct"></h2>
    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/wsc/');
        ws.onopen = function () {
            console.log('Message Connection Open...');
            ws.send('Hi, Message from Client');
        }
        ws.onmessage = function (event) {
            console.log('Message Received from Server', event);
            console.log(event.data);
            document.getElementById('ct').innerText = event.data;
        }
    </script>
</body>

</html>